:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2b4448;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
}
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #fcb7a8 transparent;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fcb7a8;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed6a40;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ea4610;
  border-radius: 10px;
  cursor: pointer;
}
